<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Todo App - Backbone.js</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- endbuild -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <script type="text/template"  id="user-template" >
      <form class="edit-user-form">
          <legend><%= user ? 'Edit' : 'New' %> User</legend>      

          <div class="form-group">
              <label>First Name</label>                   
              <input class="form-control" name="firstName" type="text" value="<%= user ? user.get('firstName') : '' %>">
          </div>
          
          <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" name="lastName" type="text" value="<%= user ? user.get('lastName') : '' %>">
          </div>

          <div class="form-group">
              <label>Email</label>
              <input class="form-control" name="email" type="text" value="<%= user ? user.get('email') : '' %>">
          </div>
       
          <hr />
          <button type="submit" class="btn btn-default"><%= user ? 'Update' : 'Create' %></button>
          <% if(user) { %>
            <input type="hidden" name="id" value="<%= user.id %>" />
            <button type="button" data-user-id="<%= user.id %>" class="btn btn-danger delete">Delete</button>
          <% }; %>
          <hr />
        </form>
    </script>
    <script type="text/template"  id="errors-template" >
      <% _.each(errors, function(error){ %>
        <div class="alert alert-danger"><%= error.message %> </div>
      <% }); %>
    </script>
    <script type="text/template"  id="users-template" >

    <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th> 
              <a class="nav-link active" href="#/users/create">
              <i class="glyphicon glyphicon-plus"></i></a> 
          </th>
          </tr>
        </thead>
        <tbody>
          
          <% _.each(users, function(user){ %>
            <tr>
              <td> <%= user.get('firstName') %> </td>
              <td> <%= user.get('lastName') %> </td>
              <td> <%= user.get('email') %> </td>
              <td> 
                  <a class="nav-link active" href="#/users/edit/<%= user.get('id') %>" title="Edit User">
                    <i class="glyphicon glyphicon-pencil" ></i>
                  </a> 
                  <!-- <a class="nav-link active" href="#/users/<%= user.get('id') %>" title="Delete User">
                    <i class="glyphicon glyphicon-remove" ></i>
                  </a>  -->
                </td>
            </tr>
      
          <% }); %>
        </tbody>
      </table>
    </script>
    <div id="errors-pane" class="pull-right">
          </div>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="#/users">Users</a>
            </li>
          <li>
            <a class="nav-link" href="#/about">About</a>
          </li>          
        </ul>
        <h3 class="text-muted">Backbone.js - Samples</h3>
          <hr/>

      </div>
      <div id="main-view"/>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
-->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="/bower_components/backbone.babysitter/lib/backbone.babysitter.js"></script>
    <script src="/bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
    <script src="/bower_components/backbone.marionette/lib/core/amd/backbone.marionette.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
